@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Category>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models
@{
	Layout = "_Layout.cshtml";
	
}

@await Html.PartialAsync("_BreadCrumb")

@{
    var selection = Umbraco.Content(Guid.Parse("cff7f32c-73cc-46ce-a426-41f9bbc65d9a"))
    .ChildrenOfType("bloggItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Where(itemPage => itemPage.Value<IEnumerable<IPublishedContent>>("CardCategory").Any(item => item.Id == Model.Id)).ToList();

    
	var projects = Umbraco.Content(Guid.Parse("aeada0b5-daf6-4446-863c-78f8a073a14d"))
    .ChildrenOfType("bloggItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Where(itemPage => itemPage.Value<IEnumerable<IPublishedContent>>("CardCategory").Any(item => item.Id == Model.Id));


    foreach(var item in projects){
        selection.Add(item);
    }

}

@if(selection.Count() > 0)
{
    <section class="articles">
        <div class="container">
            <div class="row">
                <div class="col-12 articleContainer">
                    <div class="col-12 articleCardContainer">
                        @foreach (var item in selection)
                        {
                            var tags = item.Value<IEnumerable<IPublishedContent>>("cardCategory");
                            var articleCardImage = item.Value<MediaWithCrops>("ArticleCardImage");

                            <div class="col-5 col-md-3 articleCard">
                                <a href="@item.Url()">
                                    <div class="publishDate"><small>@item.CreateDate.ToString("MMM dd")</small></div>
                                    @if (item.HasValue("ArticleCardImage"))
                                    {
                                        <img src="@articleCardImage.MediaUrl()" alt="@item.Value("ArticleCardTitle")">
                                    }
                                    @foreach (var tag in tags)
                                    {
                                        <small class="pe-1">@tag.Value("categoryTitle")</small>
                                    }
                                    <p>@item.Value("ArticleCardTitle")</p>
                                    <small>@item.Value("articleCardIntroText")...</small>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="col-12 my-5 text-center">
        <h4>Unfortunately there are no posts in this category, check out our other categories below </h4>
    </div>

	var categorySelection = Umbraco.Content(Guid.Parse("a469b979-3896-40da-9729-b6ffa4443428"))?
    .ChildrenOfType("category")?
    .Where(x => x.IsVisible());
    
    
    var bloggItems = Umbraco.Content(Guid.Parse("cff7f32c-73cc-46ce-a426-41f9bbc65d9a"))?
    .ChildrenOfType("bloggItem")?
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);


    <div class="d-flex justify-content-center col-12 flex-wrap itemsByCategory">
            @foreach (var item in categorySelection)
        {
            var numberOfPosts = 0;
            @foreach (var post in bloggItems)
            {

                var lol = post.Value<IEnumerable<IPublishedContent>>("cardCategory")?.ToList();
                if (lol.Any(x => x.Name == item.Name))
                {
                    numberOfPosts++;
                } 
            }
            <div class="text-center col-4 my-4">
                <a href="@item.Url()">@item.Name() <small>@numberOfPosts posts</small></a>
            </div>
        }
    </div>
}
